In [1]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/alireza/Documents/Research/PhD/ML/SQL/client_secret.json"
client = bigquery.Client()

In [2]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [3]:
table_ref = dataset_ref.table('full')

In [4]:
# API request - fetch the table
table = client.get_table(table_ref)

In [5]:
# Preview the first five lines of the "comments" table
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"I would rather just have wired earbuds, period...",<NA>,zeveb,<NA>,1591717736,2020-06-09 15:48:56+00:00,comment,23467666,23456782,<NA>,<NA>,<NA>
1,None,None,DNS?,<NA>,nly,<NA>,1572810465,2019-11-03 19:47:45+00:00,comment,21436112,21435130,<NA>,<NA>,<NA>
2,None,None,These benchmarks seem pretty good. Filterable...,<NA>,mrkeen,<NA>,1591717727,2020-06-09 15:48:47+00:00,comment,23467665,23467426,<NA>,<NA>,<NA>
3,None,None,Oh really?<p>* Excel alone uses 86.1MB of priv...,<NA>,oceanswave,<NA>,1462987532,2016-05-11 17:25:32+00:00,comment,11677248,11676886,<NA>,<NA>,<NA>
4,None,None,These systems are useless. Of the many flaws:...,<NA>,nyxxie,<NA>,1572810473,2019-11-03 19:47:53+00:00,comment,21436113,21435025,<NA>,<NA>,<NA>

In [6]:
# Query to select comments that received more than 10 replies
query_popular = """
                SELECT parent, COUNT(id)
                FROM `bigquery-public-data.hacker_news.full`
                GROUP BY parent
                HAVING COUNT(id) > 10
                """

In [7]:
# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**8)
query_job = client.query(query_popular)

query_job

QueryJob<project=eastern-road-400817, location=US, id=fa1f4d86-a6b3-4578-8b01-c87081e99a63>

In [8]:

# API request - run the query, and convert the results to a pandas DataFrame
popular_comments = query_job.to_dataframe()

In [9]:
# Print the first five rows of the DataFrame
popular_comments.head()

     parent  f0_
0  29305516  154
1  33427157   50
2  32097995   42
3   6651704  108
4   3078128  214

In [13]:
# Improved version of earlier query, now with aliasing & improved readability
query_improved = """
                 SELECT parent, COUNT(1) AS NumPosts
                 FROM `bigquery-public-data.hacker_news.full`
                 GROUP BY parent
                 HAVING COUNT(1) > 10
                 """

In [18]:
# Query to select comments that received more than 10 replies
query_improved = """
                SELECT parent, COUNT(1) AS NumPosts
                FROM `bigquery-public-data.hacker_news.full`
                GROUP BY parent
                HAVING COUNT(id) > 10
                """

In [19]:

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**8)

In [21]:
query_job = client.query(query_improved)

In [22]:
# API request - run the query, and convert the results to a pandas DataFrame
improved_df = query_job.to_dataframe()

In [23]:

# Print the first five rows of the DataFrame
improved_df.head()

     parent  NumPosts
0  33485109        70
1  17690534        51
2  30193899        76
3  10882261        54
4  31811758        58